<div class="block-header">
  <div class="row">
    <div class="col-lg-5 col-md-8 col-sm-12">
      <h2>
        <a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
          <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
          <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
        </a>
        View Project 
      </h2>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
        <li class="breadcrumb-item">Project </li>
        <li class="breadcrumb-item active">View</li>
      </ul>
      <hr> 
    </div>
   
  </div>
</div>
<div class="row clearfix">
  <div class="col-lg-12">
    <div class="card" *ngFor="let j of article">
      <h4>
        {{j.content.title}}
      </h4>
      <hr>
      <p>
       {{j.content.description}}
      </p> 
      <h5> ... </h5>
      <div [innerHTML]="j.content.body"></div>
    

     

     
    </div>
  </div>
</div>